@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="d-flex flex-column justify-content-center align-items-center">
    <h1>@Model.Title</h1>
    <br />
    <div class="d-flex flex-column justify-content-center align-items-center">
        @if (!string.IsNullOrEmpty(Model.Image))
        {
            var image_path = $"/Image/{Model.Image}";
            <img src="@image_path" width="500px" />
            <br />
        }


    </div>
    <br>
    <p>@Model.Body</p>
    <br />
    <div class="d-flex justify-content-around align-items-center">

        <div class="d-flex flex-column justify-content-center align-items-center ml-3">
            <h4>Likes: @Model.likes</h4>

            @{
                Html.RenderPartial("_userLike", new postLikesUsers { PostId = Model.Id, user = ViewBag.userId });
            }

            <br />
            <h2>
                Comments
            </h2>
            <table class="table">

                @foreach (var c in Model.mainComments)
                {
                    <tr class="mb-3">
                        <td class="text-center">
                            @c.comment

                            @if (User.IsInRole("Admin"))
                            {
                                {
                                    Html.RenderPartial("_removeComment", new CommentVM { postId = Model.Id, MainCommentId = c.Id });
                                }
                            }
                            <br>

                            <ul>
                                @foreach (var sc in c.subComments)
                                {
                                    <li>
                                        <div class="d-flex flex-row justify-content-center align-items-center">
                                            @sc.comment
                                            @if (User.IsInRole("Admin"))
                                            {
                                                {
                                                    Html.RenderPartial("_removeSubComment", new CommentVM { postId = Model.Id, SubCommentId = sc.Id });
                                                }
                                            }
                                        </div>
                                    </li>
                                }
                            </ul>
                            <div>
                                Add a reply?
                                @{
                                    Html.RenderPartial("_MainComment", new CommentVM { postId = Model.Id, MainCommentId = c.Id });
                                }

                            </div>
                        </td>
                    </tr>
                }
            </table>

            <div>
                Add a comment?
                @{
                    Html.RenderPartial("_MainComment", new CommentVM { postId = Model.Id, MainCommentId = 0 });
                }

            </div>
            <hr>
            @*<a asp-controller="Home" asp-action="PostPdf" asp-route-id="@Model.Id">
                    <button class="btn btn-primary">Generate Pdf</button>
                </a>*@
        </div>
    </div>
</div>
